body {
	background-color: #111;
	text-align: center;
}

.container {
	margin: 42px;
}

h1 {
	font-family: 'Creepster', sans-serif;
	font-size: 4.5em;
	letter-spacing: 0.05em;
	color: #900;
	margin-bottom: 75px;
}

p {
	font-size: 3em;
	color: #ddd;
	font-family: 'Amatic SC', sans-serif;
}

img {
	z-index:0;
	border-radius: 110%;
	width: 100px;
	height: 100px;
	margin-top: 50px;
	border: 2px solid #333;
}

img:hover {
	cursor: pointer;
}

p.caption {
	margin: 0;
	font-size: 1em;
	z-index: 2;
}
