body {
	background-color: #000;
	font-family: 'Amatic SC', sans-serif;
	text-align: center;
}

.container {
	margin: 42px;
}

h1 {
	font-family: 'Creepster', sans-serif;
	font-size: 4.5em;
	letter-spacing: 0.05em;
	color: #900;
	margin-bottom: 75px;
}

p {
	font-size: 3em;
	color: #ddd;
}

button {
	width: 56px;
	height: 84px;
	font-size: 1.5em;
	font-family: 'Amatic SC', sans-serif;
	border-radius: 10%;
	background-color: #ccc;
	margin-top: 75px;
}
