body {
	background-color: #000;
	text-align: center;
}

.container {
	margin: 42px;
}

h1 {
	font-family: 'Creepster', sans-serif;
	font-size: 4.5em;
	letter-spacing: 0.05em;
	color: #900;
	margin-bottom: 75px;
}

p {
	font-size: 3em;
	color: #ddd;
	font-family: 'Amatic SC', sans-serif;
}

img {
	z-index:0;
	border-radius: 42%;
	max-width: 150px;
	margin-top: 50px;
}

img:hover {
	cursor: pointer;
}

p.caption {
	margin: 0;
	font-size: 1em;
	z-index: 2;
}

@media (max-width: 500px) {
	.container {
		max-width: 200px;
	}
	p.message {
		font-size: 5em;
	}
}
